<!--The content below is only a placeholder and can be replaced.-->

<div class="alert alert-primary" role="alert">
    <h1>Welcome to Angular Application</h1>
</div>
  
<add-student></add-student>
  <!--
  <h2>Treatment List</h2>
  
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Description</th>
        <th scope="col">Name</th>
        <th scope="col">Url</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let treatment of treatmentAPIResponse">
        <th scope="row">{{treatment.code}}</th>
        <td>{{treatment.description}}</td>
        <td>{{treatment.name}}</td>
        <td>{{treatment.href}}</td>
        <td>{{treatment.score}}</td>
      </tr>
    </tbody>
  </table>
  <hr border="1">
  
  <h2>Student List</h2>
  <ul>
    <li *ngFor="let student of studentAPIResponse">
      {{student.sno +" , " + student.sname + " , " + student.course + " , " + student.fee}}
    </li>
  </ul>
  
  <hr border="1">
  
  <h2>Course List</h2>
  <ul>
    <li *ngFor="let course of courseAPIResponse">
      {{course.id +" , " + course.title}}
    </li>
  </ul> -->